<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.admin.dao.AdminMapper">  
 	
 	<select id="selectFAQList" 
 	                   parameterType="map" 
 	                     resultType="AdminFAQCommand">
 	    SELECT
 	    	*
 	    FROM (SELECT 
 	             a.*,
 	             rownum rnum
 	          FROM (SELECT 
 	          			faq_num,
 	                   faq_title,
 	                   faq_content
 	                   FROM FAQ
 	                ORDER BY faq_num desc)a)               	
 	</select>

 	<select id="selectFAQRowCount" parameterType="map" 
 	                          resultType="integer">
 	    SELECT
 	    	count(*)
 	    FROM FAQ
 	    <where>
 	    	<if test="keyword != '' and keyfield == 'title'">
 	    		faq_title like '%' || #{keyword} || '%'
 	    	</if>
 	    	<if test="keyword != '' and keyfield == 'content'">
 	    		faq_content like '%' || #{keyword} || '%'
 	    	</if>
 	    	<if test="keyword != '' and keyfield == 'all'">
 	    		faq_title like '%' || #{keyword} || '%' or 	    	
 	    		faq_content like '%' || #{keyword} || '%'
 	    	</if>
 	    </where>	
 	</select>
 	
 	<select id="selectIngreList" 
 	                   parameterType="map" 
 	                     resultType="AdminIngredientCommand">
 	    SELECT
 	    	*
 	    FROM (SELECT 
 	             a.*,
 	             rownum rnum
 	          FROM (SELECT 
 	          			*
 	                   FROM ingredient
 	                ORDER BY i_num desc)a)               	
 	</select>

 	<select id="selectIngreRowCount" parameterType="map" 
 	                          resultType="integer">
 	    SELECT
 	    	count(*)
 	    FROM ingredient
 	    <where>
 	    	<if test="keyword != '' and keyfield == 'name'">
 	    		i_name like '%' || #{keyword} || '%'
 	    	</if>
 	    </where>	
 	</select>
 	
 	<select id="selectProductList" 
 	                   parameterType="map" 
 	                     resultType="AdminProductCommand">
 	    SELECT
 	    	*
 	    FROM (SELECT 
 	             a.*,
 	             rownum rnum
 	          FROM (SELECT 
 	          			*
 	                   FROM product
 	                ORDER BY p_num desc)a)               	
 	</select>

 	<select id="selectProductRowCount" parameterType="map" 
 	                          resultType="integer">
 	    SELECT
 	    	count(*)
 	    FROM product
 	    <where>
 	    	<if test="keyword != '' and keyfield == 'name'">
 	    		p_name like '%' || #{keyword} || '%'
 	    	</if>
 	    	<if test="keyword != '' and keyfield == 'brand'">
 	    		p_brand like '%' || #{keyword} || '%'
 	    	</if>
 	    	<if test="keyword != '' and keyfield == 'all'">
 	    		p_name like '%' || #{keyword} || '%' or 	    	
 	    		p_brand like '%' || #{keyword} || '%'
 	    	</if>
 	    </where>	
 	</select>
 	
</mapper>









