/*============== 공지사항 CSS ===================*/
/*타이틀*/
.container-background{
	background-image:url('/Hwahea/assets/img/bg_top/bg_plus_top.png');
	background-repeat:no-repeat;
	background-size:100% 150px;
	width:100%;
	height:240px;
	position:relative;
}

.white{
	background:white;
	position:relative;
	top:-170px;
	padding-top:15px;
	border-radius:3px !important;
}

.ev-top{
	padding-top:20px;
}

/*타이틀 소제목*/
.r_title{
   padding-top:30px;
   padding-bottom:10px;
}

.r_title ul{
   padding:0;
}

.r_title ul li{
	list-style:none;
}

.r_title1, .r_title3{
	margin:0;
}

.r_title .r_title1{
   font-size:18px;
   font-weight: bold;
}

.r_title .r_title2{
   font-size:30px;
   font-weight: bold;
   margin:0 10px 0 0;
}

.r_title .r_title3{
   font-weight: bold;
   color:#008200;
}
/*타이틀 끝*/

/*상단 메뉴바 시작*/ 
li{
	list-style:none;
}
 
.notice_kind li{
	width:33.33333%;
    height: 55px;
    border-left: 1px solid #e6e6e6;
    text-align:center;
    background: #f6f6f6;
    font-size: 20px;
    color: #666;
    font-weight: 500;
    float:left;
    padding: 12px 0 10px 0;
    cursor:pointer;
    letter-spacing:-0.04em;
}

.notice_kind li:hover{
   background: #555;
    color: #fff;
}

.notice_on{
	background: #555 !important;
    color: #fff !important;
}

.notice_kind > li.notice_on:before {
    position: absolute;
    content: '';
    bottom: -5px;
    left: 17.7%;
    width: 12px;
    height: 5px;
    margin-left: -6px;
    background: url('/Hwahea/assets/img/notice/notice_tab_arrow.png') no-repeat 0 0;
}
/*상단 메뉴바 끝*/

/*공지사항 목록 시작*/
.no_list{
	margin-top:20px;
}

.table{
    border-spacing: 0;
    border: 0;
}

.notice_list{
	table-layout: fixed;
    width: 1020px;
    margin: 0 auto;
    border-top: 2px solid #888;
}

.notice_list thead{
	word-spacing: -1px;
    color: #666;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.04em;
}

.notice_list thead tr th{
    border-bottom: 1px solid #888;
    text-align:center;
    height:63px;
}

.notice_num{
	width:92px;
}

.notice_tit{
	width:806px;
}

.notice_date{
	width:140px;
}

.notice_list td{
	text-align:center;
}

.notice_list tr{
	border-bottom:1px solid #e6e6e6;
	height:63px;
}

.notice_list tbody{
	display: table-row-group;
    vertical-align: middle;
}

.notice_txt{
	text-align:left !important;
}

.NK01{
	background: #969937;
	display: inline-block;
    width: 70px;
    height: 20px;
    border-radius: 10px !important;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
}

.NK02{
	background: #a68fcd;
}

.NK03{
    background: #ed95b7;
}

.notice_list >.NK01, .NK02, .NK03{
	display: inline-block;
    width: 70px;
    height: 20px;
    border-radius: 10px !important;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
}

/*공지사항 목록 끝*/