/*==================화해플러스=======================*/
/*타이틀*/
.container-background{
	background-image:url('/Hwahea/assets/img/bg_top/bg_event_top.png');
	background-repeat:no-repeat;
	width:100%;
	height:240px;
	position:relative;
}

.white{
	background:white;
	position:relative;
	top:-170px;
	padding-top:15px;
	border-radius:3px !important;
}

/*타이틀 소제목*/
.r_title{
   padding-top:30px;
   padding-bottom:10px;
}

.r_title ul{
   padding:0;
}

.r_title ul li{
	list-style:none;
}

.r_title1, .r_title3{
	margin:0;
}

.r_title .r_title1{
   font-size:18px;
   font-weight: bold;
}

.r_title .r_title2{
   font-size:30px;
   font-weight: bold;
   margin:0 10px 0 0;
}

.r_title .r_title3{
   font-weight: bold;
   color:#72c02c;
}
/*타이틀 끝*/

.plusHead{
	padding-bottom:15px;
	font-face:bold;
}

.plusComments{
	width:20px;
	height:20px;
}

.plusLike{
	width:15px;
	height:15px;
}

.plusLC{
	align:left;
	margin-right:20;
	margin-left:0;
}

.plusWriter{
	align:right;
	margin-left:140px;
	margin-right:0;
}

/*화해플러스 메인*/
.plusBanner{
	margin-left:3px;
	margin-right:30px;
	margin-bottom:20px;
	float:left;
}
.plusBanner, .plusBanner img{
	width:615px;
	height:300px;
}

.pBanner_con{
	position: absolute;
    width: 500px;
    height: 300px;
    border: 1px solid #eee;
    padding: 10px;
    margin-left: 636px;
}

.plusMember{
    float: left;
    text-align: center;
}

.plusProfile{
	width:40px;
	height:40px;
}

.plusGrade input[type="button"]{
	width:40px;
	height:20px;
	margin-top:5px;
	border-radius:10px !important;
	text-decoration:center;
	background-color:#f0ad4e;
	color:#fff;
	border:none;
	outline:none;
	cursor:default;
}

.plusBannerDate{
	margin-top:5px;
}

.plusBannerText{
	margin-top: 1px;
    margin-bottom: 5px;
    height: 130px;
    overflow: hidden;
}

.pBanner_more {
    text-align: right;
    padding-right: 10px;
}

.bannerIcon{
	margin-right:35px;
	margin-left:35px;
}

.pm_thumb img{
	width:210px;
	height:135px;
}

.pm_thumb span{
	left: 15px !important;
}

.pm_lrs{
	margin-left:6px;
}

.pm_lrs span{
	margin-right:21px;
}

.pmain_tit{
	margin:7px 0;
}

.pmain_tit a{
	color:#000;
	font-size:14px;
	letter-spacing:-0.03em;
}

.best a{
	color:#000;
	font-size:14px;
	font-weight:bold;
	letter-spacing:-0.03em;
}

.pmain_tit a:hover{
	color:#72c02c;
	font-weight:bold;
	text-decoration:none;
}

/*화해플러스 카테고리별 세부페이지*/
li{
	list-style:none;
}

.r_menu_2 li{
   border:#acacac solid 1px;
   float: left;
   width:16.66666666666667%;
   height:30px;
   font-size:15px;
   color:#72c02c;
   font-weight:bold;
   text-align:center;
   padding: 2px 0 10px 0;
   cursor:pointer;
}

.r_menu_2 li:hover{
   background-color: #72c02c;
   color:#fff;
}

.r_menu_2 .r_thistap{
   background-color: #72c02c;
   color:#fff;
}

.plusTitle{
	padding-top:10px;
	padding-bottom:15px;
	text-align:center;
	font-size:17px;
}

.plusTitle a{
	color:#645753;
	font-weight:bold;
	cursor:pointer;
}

.plusTitle a:hover{
	color:#72c02c;
	font-weight:bold;
	text-decoration:none;
}


.thisinPlus{
	color:#fff;
	background-color:#72c02c;
}

.plusBest{
	margin-right:-10px !important;
	margin-left:15px;
}

.plusBest img{
	width:730px;
	height:354px;
}

.plusCategory{
	padding-left:15px;
}

.plusThumbnail img{
	width:360px;
	height:200px;
}

.plusBanner2 {
	padding-left:5px;
	height:354px;
}

.plusBanner2 p{
	padding-left:5px;
}

.plusBanner2 a{
	color:#333;
}

.plusBanner2 a:hover{
	text-decoration:none;
	color:#72c02c;
}

.plusBanner2 button{
    letter-spacing:-0.02em;
    border: 2px solid #72c02c;
	padding:5px !important;
	width:150px;
	height:38px;
	margin-top:5px;
	border-radius:15px !important;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	background-color:#fff;
	color:#113f1f;
	outline:none;
	cursor:default;
	box-shadow:none;
}

.lineforPlus{
	width:365px;
	height:10px;
	background:#72c02c;
}

.spaceforPlus{
	height:174px;
}

.plusBanner2 span{
	font-size:15px;
	color:#777777;
	font-weight:bold;
}

.hrinPlus{
	width:10%;
	margin-top:15px;
	margin-bottom:3px;
	color:#999da0;
}

.plusDetail{
	color:#999da0;
}

.plusUser{
	padding-left:43%;
}

.plusTable th{
	width:28.1%;
}

/*화해플러스 모달*/
.pmodal_close{
	width:15px;
	height:15px;
	cursor:pointer;
	margin-bottom:20px;
}

.plusModalimg{
	width:500px;
	height:410px;
}

.pmodal_header{
	font-size:20px;
	font-weight:bold;
}

.pmodal_header a{
	color:#777777;
}

.pmodal_header a:hover{
	color:#000000;
	text-decoration:none;
}

.pmodal_left{
	position:absolute;
	margin-left:-372px;
	padding-top:3px;
}

.plusThumbnail3{
	width:600px;
	height:300px;
}

.pmodal_title{
	margin-top:10px;
	font-size:30px;
	font-weight:bold;
}

.pmodal_profile img{
	width:26px;
	height:26px;
}

.pmodal_profile{
	padding-right:30px;
	text-align:right;
	font-size:16px;
	color:#999da0;
}

.pmodal_icon{
	text-align:left;
	font-size:14px;
}

.pmodal_icon span{
	margin-left:28px;
	margin-right:10px;
}

.pmodal_icon .pmodal_regDate{
	margin-left:440px !important;
	color:#999da0;
}

/*모달 댓글*/
.pre_btn  input[type="button"], .modal-footer input[type="button"]{
	margin:0px 3px 3px 3px;
   padding:0px;
   color:#ffffff !important;
   background-color:#72c02c;
   border:1px solid #72c02c;
   border-radius:4px !important; 
   padding:5px;
}

.pmodal_reply{
	padding-bottom:17px;
	margin-left:43px;
	margin-top:20px;
	padding-top:10px;
	border:1px solid #d9dcdd;
	width:780px;
}

.pmodal_ud{
	margin-top:10px;
	padding-right:15px;
	text-align:right;
}

.pmodal_lrs {width:700px; margin-left:65px;}
.pmodal_lrs img{width:23px; height:23px;}
.pmodal_lrs li{
   border:#acacac solid 1px;
   display:inline;
   width:16.66666666666667%;
   height:30px;
   font-size:15px;
   color:#83B14E;
   font-weight:bold;
   text-align:center;
   padding:10px 40px 10px 40px;
   margin-left:-5px;
}
.pmodal_lrs li:hover{
	background-color:#83B14E;
	color:#fff;
	cursor:pointer;
}

.pmodal_rform{padding-top:15px;}

.pmodal_rtext{
	margin-left:105px;
	margin-right:-10px;
	margin-bottom:7px;
	float:left;
	resize:none;
	overflow-y:scroll;
}

.pmodal_rform input[type="submit"]{
    top: 0;
    right: 0;
    margin-left:-5px;
    width: 85px;
    height: 85px;
    color: #fff;
    font-size: 18px;
    background: #72c02c;
    border-radius: 0;
    border: 0;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
}

.pmodal_wpro {
	float:left;
	font-size:18px;
	margin:15px -80px 0 30px;
}

.pmodal_wpro img{width:60px; height:60px;}

.pmodal_rcount {
	text-align:right;
	margin:17px 135px 13px 0;
	font-size:12px;
}

.pre_total{
	top:0;
	bottom:0;
	text-align:left;
	font-size: 14.5px;
    font-weight: 700;
}

.pmodal-bottom-10{
	margin-bottom:10px;
}

.pmodal_reback{
	background:#fff;
	margin-left:65px;
	margin-top:-20px;
	width:630px;
}

.pmodal_rere{
	padding-top:10px;
}

.pmodal_rpro {width:260px; margin-right:438px; margin-left:20px; text-align:left;}

.pmodal_rpro img{
	width:35px;
	height:35px;
}

.pmodal_rpro .plusGrade{font-size:12px;}

.pmodal_wrere{font-size:14px; font-weight:bold; margin:0 3px 0 3px;}

.pmodal_drere{font-size:11px; color:#999da0; margin-left:3px;}

.pmodal_trere{font-size:14px; margin:12px 0 15px 40px; text-align:left;}

.pmodal_same{margin-right:410px; cursor:pointer;}
.pmodal_diff{margin-right:501px; cursor:pointer;}

/*화플 모달 대댓글*/
/*대댓글 폼*/
.pmodal_reback2{
	background: #eff0f1;
    margin-left: 24px;
    margin-top: 15px;
    width: 580px;
    padding-bottom: 30px;
}

.pmodal_rpro2 img{
	width:30px;
	height:30px;
}

.pmodal_rpro2{margin-right:400px; padding-top:13px;} .pmodal_rpro2 .plusGrade{font-size:11px;}

.pmodal_rtext2{
	overflow-y: scroll;
    resize: none;
    float: left;
    margin-right: 4px;
}

#prere_first{
	width: 458px;
    text-align: right;
    margin-top: 5px;
}

#pre_second{
	width: 500px;
    margin: 15px 60px 0px 50px;
}

.prere_btn{
	display: block;
    padding-top: 60px;
}

/*대댓글 목록폼*/

.prere_back{
	background:#f7fffb;
	margin-top:-20px;
	width:630px;
}

.prere_depth{
	margin-left:25px;
}

.prere_depth img{
	width:17px;
	height:15px;
}

.prere_time{font-size:11px; color:#999da0; width:30px;}

.prere_text{font-size:14px; margin:12px 0 15px 80px; text-align:left;}

.rere_writer{font-size:14px; font-weight:bold; color:#ff7280; margin:0 13px 0 10px;}

/*==================화해플러스=======================*/

/*모달 헤더*/
#fixed-header{
	border-bottom:1px solid #eff0f1;
}

.fixed-header-noscroll{
	position:absolute;
	z-index:1;
	background-color:#FFFFFF;
	width:889px;
	height:50px;
	top:32px;
	left:50%;
	margin-left:-449px;
	text-align: center;
}
.fixed-header-scroll{
	position:fixed;
	z-index:1;
	background-color:#FFFFFF;
	width:888px;
	height:50px;
	top:0px;
	left:50%;
	margin-left:-448px;
	text-align: center;
}
@media (max-width: 767px) {
 		.fixed-header-noscroll{
		width:100%;
		margin-left:0px;
		padding:0 5px 0 5px;
		left:0;
		right:50%;
	}
	.fixed-header-scroll{
		width:100%;
		margin-left:0px;
		padding:0 25px 0 5px;
		left:0;
		right:50%;
	}
}